.loader-container {
  max-width: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.triangle {
  fill: url(#gradient);
  stroke: #EEEEEE;
  shape-rendering: crispEdges;
  animation: fillAnimate 6s linear infinite;
}

@keyframes fillAnimate {
  0% {
    fill: url(#gradient3);
  }
  50% {
    fill: url(#gradient2);
  }
  100% {
    fill: url(#gradient1);
  }
}

/* Additional styles for responsiveness */
@media screen and (max-width: 768px) {
  .loader-container {
    max-width: 150px;
  }
}

@media screen and (max-width: 650px) {
  .loader-container {
    max-width: 100px;
  }
}